.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.img {
  width: 300px;
  height: auto;
}

.btn {
  margin-top: 18px;
  padding: 18px;
  background-color: antiquewhite;
  border-radius: 10px;
  border-color: antiquewhite;
}
